sympy
pandas
numpy
scipy

matplotlib
seaborn
plotly

scikit-learn
category_encoders
xgboost
lightgbm 
catboost

tensorflow
torch 
jax
keras 
fastai

nltk 
spacy 
gensim

mlflow 
dvc 
optuna # Hyperparameter tuning

jupyter-book
myst-parser
sphinx
sphinx-book-theme
rich
ipywidgets
markdown-it-py
tabulate 
prettytable
pygments 
black 
jupyterlab-lsp
jupyterthemes
folium
